* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: whitesmoke;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 14px 0;
    background: linear-gradient(90deg, #1a0b2e, #2b124f);
}

.nav-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.logo span {
    color: #b56bff;
}

/* Nav links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #d6d6d6;
    font-size: 15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
}

/* Button */
.nav-btn {
    padding: 8px 20px;
    background: linear-gradient(135deg, #ff4ecd, #9b5cff);
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(155, 92, 255, 0.4);
}



/* HERO */
.hero {
    position: relative;
    min-height: 90vh;

    background:

        url("../TechWave/assets/hero-bg.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.hero-content {
    text-align: center;
    z-index: 2;
}

/* Logo circle */
.logo-circle {
    width: 140px;
    height: 140px;
    margin: auto;
    border-radius: 50%;
    position: relative;

    background:

        url("../TechWave/assets/hero-circle.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.new-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #1aff8c;
    color: #000;
    font-size: 11px;
    padding: 3px 8px;
    border-radius: 10px;
    font-weight: bold;
}

.hero h1 {
    margin-top: 20px;
    font-size: 42px;
}

.subtitle {
    margin-top: 10px;
    font-size: 15px;
    color: #cfcfcf;
}

/* Buttons */
.hero-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    display: inline-flex;
    align-items: center;
    /* vertical center */
    justify-content: center;
    /* horizontal center */
    gap: 8px;
    /* space between icon & text */

    padding: 10px 22px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.spotify img {
    width: 18px;
    height: 18px;
}


.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(155, 92, 255, 0.4);
}

.spotify {
    background: linear-gradient(135deg, #ff4ecd, #9b5cff);
}

.subscribe {
    background: #1a1a1a;
    border: 1px solid #444;
}



/* about section  */
.about {
    padding: 80px 10%;
    text-align: center;
    background: linear-gradient(180deg, #0b0321, #060014);
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #cfcfcf;

}

.about-text {
    max-width: 800px;
    margin: auto;
    font-size: 15px;
    color: #cfcfcf;
    line-height: 1.7;
    margin-bottom: 10px;
}

/* Stats */
.stats {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 30px;
}

.stat h3 {
    color: #1aff8c;
    font-size: 28px;
}

.stat span {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    color: #bdbdbd;
}


/* Why Choose */
/* //////////////////// */
.container {
    padding: 120px 150px;
    width: 100%;
    background-color: rgba(35, 14, 61, 1);
    color: white;

}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 20px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
}

.card {
    background-color: rgb(71, 14, 139);
    border-radius: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-tall {
    grid-row: span 2;
}

.card-wide {
    grid-column: span 2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.card-extra-wide {
    grid-column: span 2;
}



/* ///////////////////// */
/* ===== Featured Episodes ===== */
.featured {
    color: white;
    margin: auto;
    padding: 80px 100px 80px;
    background-color: rgba(37, 13, 68, 1);
}

.featured h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.episode-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.episode-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 18px;
    padding: 18px;
}

.thumb {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 16px;
}

.thumb img {
    width: 100%;
    display: block;
}

.play {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
}

.episode-card h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.episode-card p {
    font-size: 14px;

    line-height: 1.5;
    margin-bottom: 12px;
}

.time {
    font-size: 13px;
    color: #2cff9a;
    display: flex;
    align-items: center;
    gap: 8px;
}





/* ===== Host Section ===== */
.host {
    background-color: rgba(37, 13, 68, 1);

    margin: auto;
    padding: 40px 20px 80px;
}

.host h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.host-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 22px;
    padding: 30px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.host-card-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.host-info h3 {
    margin-bottom: 10px;
}

.host-info p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.85;
    margin-bottom: 14px;
}

.socialsImg {
    height: 32px;
    width: 32px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 8px;
}

/* footer  */

.footer {
    background:

        url("./assets/footer-bg.png") center no-repeat;

    background-size: cover;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}

/* Logo */
.logo {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 16px;
}

.logo span {
    color: #ff2db2;
}

/* Social icons */
.socials {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 18px;
}

.socials img {
    width: 22px;
    opacity: 0.9;
    transition: 0.3s ease;
}

.socials img:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* Copyright */
.footer p {
    font-size: 13px;
    opacity: 0.7;
}












/* ===== Responsive ===== */
.thumb {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 ratio */
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 16px;
}

.thumb img,
.thumb iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.thumb {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 ratio */
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 16px;
}

.thumb img,
.thumb iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }

    .subtitle {
        font-size: 14px;
        padding: 0 15px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .btn {
        width: 220px;
    }
}

@media (max-width: 768px) {
    .about {
        padding: 60px 20px;
    }

    .about h2 {
        font-size: 26px;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 80px 30px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .card-wide,
    .card-extra-wide {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .card-wide,
    .card-extra-wide {
        grid-column: span 1;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .episode-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .episode-grid {
        grid-template-columns: 1fr;
    }

    .host-card {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .featured {
        padding: 60px 20px;
    }

    @media (max-width: 600px) {
        .host-card {
            flex-direction: column;
            text-align: center;
        }

        .host-card-img {
            width: 100px;
            height: 100px;
        }
    }


    .featured h2 {
        font-size: 26px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 60px 20px;
    }

    .footer .logo {
        font-size: 32px;
    }

    .socials {
        flex-wrap: wrap;
    }
}